<section class="home hero"> 
  <section class="hero-inside">
    <h1>Track </h1>
    <button type="button" class="btn btn-primary position-relative">
      Get started
    </button>
  </section>
</section> 

<section style="text-align:center">
  <%= link_to "Login", login_path %>
  <%= link_to "Signup", signup_path %>

</section>




