<h1>Organizations</h1>
<ul class="list-group">
  <% current_user.organizations.each do |org| %>
    <li>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="text-center card-text"><%= link_to org.name, org %></h2>
      </div>
    </div>
    </li>
  <% end %>
</ul>