<%= form_with(scope: :user, url: users_organization_path(@organization), method: :post) do |f| %>
 
  <div class="form-group">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Add User", class: "btn btn-primary" %>
  </div>
   
  <% end %>